@tailwind base;
@tailwind components;
@tailwind utilities;

/* article a.anchor.before::before {
  content: " ";
  display: inline-block;
  visibility: hidden;
  position: relative;
  margin-top: -64px;
  padding-top: 64px;
  height: 64px;
} */

/* article h2 {
  align-items: center;
} */

article a.anchor.before {
  top: 100px;
}

article h1::before,
article h2::before,
article h3::before {
  content: " ";
  /* visibility: hidden; */
  display: block;
  position: relative;
  padding-top: 90px;
  margin-top: -45px;
}

.prose-yellow a:visited {
  color: #78350f;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
